@{
    decimal totalLocal = (decimal)ViewBag.TotalLocal;
    decimal totalForeign = (decimal)ViewBag.TotalForeign;
}

<div class="row">
    <div class="col-12">
        <label >Total Local</label>
        <b>@totalLocal</b>
        <br>
        <label >Total Extranjero</label>
        <b>@totalForeign</b>
    </div>
</div>